body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: darkblue;
    color: white;
    max-height: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(3, 143, 3);
    color: white;
}

h1 {
    margin: 0;
}

nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: rgb(5, 55, 131);
    transform: scale(1.1);
}

main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: none; /* Removido o border padrão */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo leve */
    color: white; /* Texto branco */
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50; /* Verde para o botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Tom mais escuro ao passar o mouse */
}
