body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: darkblue;
    color: white;
    min-height: 1400px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(3, 143, 3);
    color: white;
}

h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
    align-items: center;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

#form-treino{
    display: flex;
    flex-direction: column;
    margin:300px;
}
label {
    margin-top: 30px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}