body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: darkblue;
    color: white;
    max-height: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(3, 143, 3);
    color: white;
}
button {
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
    align-items: center;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-menu {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.main-menu button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.main-menu button:hover {
    background-color: #0f2db1;
    transform: scale(1.05);
}